:root {
    --primary: #11998e;
    --secondary: #38ef7d;
    --white: black;
    --gray: black;
  }
  
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
  }
  
  /* Reset input */
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }

  .btn{
	color:#fff;
	background-color:#4d455d;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:5px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

/* check button */

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.checkbox input:checked +::before {
  transform: translateX(100%);
  background-color: #2196f3;
}